.footer-logo{
	display: block;
	width: 199px;
	height: 80px;
	background: url(../img/register/bottom_yst_logo.gif) no-repeat;
}

.footer-logo:hover{
	background: url(../img/register/bottom_yst_logo2.gif) no-repeat;
}
.footer-wsj-logo{
	display: block;
	width: 199px;
	height: 80px;
	background: url(../img/register/bottom_wsj_logo.gif) no-repeat;
}
.footer-wsj-logo:hover{
	background: url(../img/register/bottom_wsj_logo2.gif) no-repeat;
}
